<%= form_with(model: @schedule, url: schedulesupdatepatch_path, remote: true) do |f| %>
  <%= f.label :title, "title"%>
  <%= f.text_field :title, class:'form-control mb-3', required: true %> 

  <%= f.label :Adress %><br>
  <%= f.select :area_id, Area.where(id: Schedule.find(params[:id]).user.user_area_sections.pluck('area_id')).pluck('area_name,id'),{ include_blank: true, selected: @schedule.area_id}, id: "area-select", class: "area-control" %>
  <%= f.select :section_id, Section.where(id: Schedule.find(params[:id]).user.user_area_sections.pluck('section_id')).pluck('section_name,id'),{ include_blank: true, selected: @schedule.section_id}, id: "section-select", class: "section-control" %>
  <div class="angle-space">
    <i class="fa-solid fa-angles-down fa-2xl"></i>
  </div>
  <div class="areas-event">
  <%= f.fields_for :schedule_area_sections do |schedule_area_sectionsfields| %>
      <div class="select-scope" data-index: "<%= schedule_area_sectionsfields.index %>">
          <%= schedule_area_sectionsfields.select :area_id, [['All Area', 4],['A processarea', 1],['B Utilityarea', 2],['C Offsite', 3]],{ include_blank: true, selected: schedule_area_sectionsfields.object.area_id }, id: "area-select", class: "area-control" %>
          <%= schedule_area_sectionsfields.select :section_id, [['All Section',6 ],['Civil', 1],['Building', 2],['Mechanical', 3],['Piping', 4],['Erectrical', 6]],{ include_blank: true, selected: schedule_area_sectionsfields.object.section_id }, id: "section-select", class: "section-control" %>
      </div>
      
  <% end %>
  <%= f.button type: :button, class:"btn-floating waves-effect waves-light red add-form-btn" do %>
      <i class="material-icons">add</i>
  <% end %>
  </div>

  <div class="form-inline text-left">
   <%= f.label :start,"start", {class:'control-label'}%>
   <%= f.datetime_select :start, {default: Date.today + 0.hours}, class: 'form-control' %>
  </div>
   <br>
  <div class="form-inline text-left"> 
   <%= f.label :end,"end", {class:'control-label'}%>
   <%= f.datetime_select :end, {default: Date.today + 0.hours}, class: 'form-control' %>
  </div>
  <%= f.check_box :allDay, id: :allDay_checkbox, :as =>:boolean %>
  <%=f.label :allDay%>
  <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class:'form-control mb-3'%>
  </div>
  <% if current_user.userstyle == 0 %>
  <div class= "center">
  <%= f.submit "edit a event", class: "btn btn-primary js-event-create-btn" %>
  </div>
  <div class="margin-right">
  <%= link_to schedulesdestroy_path, class: "btn margin-right", data: {confirm: "Are you sure to DELETE？"}, method: :delete  do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
  </div>
  <% end %>
<% end %>
