<div class="boxbaseP30">
<% if current_user.userstyle == 0 %>
    <div class="reads">READ:</div>
    <% @schedule_reads.each do |schedulereads| %>
        <div class="view-count">
        <div class="chip">
        <%= schedulereads.user.name %>/<%= schedulereads.user.email %>
        </div>
        </div>
    <% end %>
<% end %>
    <h5>Title</h5>
    <h6 class="schedule-title">
        <%= @schedule.title %>
    </h6>
    <h5>Address</h5><br>
    <div class="schedule-area">
    <% schedule = @schedule %>
        <div class="chip", style = "<%= event_nav_btn_style_area1(schedule) %>">
            <%= schedule.area.area_name%>
        </div>
        <i class="fa-solid fa-xmark"></i>
        <div class="chip", style = "<%= event_nav_btn_style_section1(schedule) %>">
            <%= schedule.section.section_name %>
        </div>
    </div>
    <div class="angle-space">
        <i class="fa-solid fa-angles-down fa-2xl"></i>
    </div>
    <div class="areas-event">
        <% @schedule.schedule_area_sections.each do |schedule2| %>
            <div class="chip", style = "<%= event_nav_btn_style_area2(schedule2) %>">
                <%= Area.find(schedule2.area_id).area_name  %>
            </div>
            <i class="fa-solid fa-xmark"></i>
            <div class="chip", style = "<%= event_nav_btn_style_section2(schedule2) %>">
                <%= Section.find(schedule2.section_id).section_name %>
            </div>
        <% end %>
    </div>

    <div class="form-inline text-left">
    <h5>start</h5>
    <h6>
    <%= @schedule.start.strftime('%Y/%m/%d %H:%M') %>
    </h6>
    </div>
    <div class="form-inline text-left"> 
    <h5>end</h5>
    <h6>
    <%= @schedule.end.strftime('%Y/%m/%d %H:%M') %>
    </h6>
    </div>
    <% if @schedule.allDay == true %>
    <h6 class="allday">All Day</h6>
    <% end %>
    <div class="form-group">
        <h5>description</h5>
        <h6 class="form-control mb-3"><%= @schedule.description %></h6>
    </div>
    </div>
