
<h4>Archived News</h2>
<p class="listBox_result">
    <span>
        <%= @news.count %>
    </span>
    News is here.
</p>
<div class="row flexbox" style = "margin: auto 0;">
  <article class="col-8 flexbox" style="width:100%; width: 800px;">
  <% @news.each do |news| %>
    <div class="row" style="margin:10px;">
        <div class="col2 s12 m5">
            <!-- card start -->
            <div class="card" style="display:flex;height: 280px;width: 380px; text-align: left;">
                <div class="card-image" style="Width: 200px;">
                <%= image_tag news.image.to_s, height: '280', width: '150',:style => "width: 150px;" %>
            </div>
            <%= link_to news_path(news.id) do %>
            <div class="card-content">
            <%= news.created_at.strftime('%Y/%m/%d %H:%M') %>
            <div class ="flexbox">
            <span class="card-title"><%= news.title %></span>
            <% if current_user.userstyle == 0 %>
            <div>
            <%= link_to back_path(news.id), class: "back-arrow", method: :post, data: { confirm: "【confirm】Do you want to be back？" } do %>
                <i class="fa-solid fa-arrow-rotate-left fa-2xl"></i>
            <% end %>
            </div>
            <% end %>
            </div>
            <div class="fromto">
            <div class="chip", style = "<%= event_nav_btn_style_area1(news) %>">
                <%= news.area.area_name %>
            </div>
            <i class="fa-solid fa-xmark"></i>
            <div class="chip", style = "<%= event_nav_btn_style_section1(news) %>">
                <%= news.section.section_name %>
            </div>
            <div class="flex-column">
            <i class="fa-solid fa-angles-down angle-down fa-xl"></i>
            </div>
            <div class="flexbox" style="width: 250px;margin-top: 15px;">
            <% @news_area_sections = news.news_area_sections %>
            <% @news_area_sections.each do |newsareasection| %>
            <div class="chip", style = "<%= event_nav_btn_style_area2(newsareasection) %>">
                <%= newsareasection.area.area_name %>
            </div>
            <i class="fa-solid fa-xmark"></i>
            <div class="chip", style = "<%= event_nav_btn_style_section2(newsareasection) %>">
                <%= newsareasection.section.section_name %>
            </div>
            <% end %>
            </div>
            </div>
            </div>
            </div>
            <!-- card end -->
        </div>
        </div>
    <% end %>
  <% end %>
  </article>

  <aside class="col-4">
    <%= form_with url: archivesearch_path,id: :search_news, method: :get, local: true do |f| %>
        <div class="row">
    <div class="col s12 m4" style="width:100%;width: 410px;height: 100%; height: 34fp0px;">
      <div class="card-panel teal" style="width: 500px;width: 100%;height: 100%;background-color: white!important;border-radius: 8px;margin:0;border: 3px solid #d32f2f;">
      <p class="search-title">絞り込み検索</p>
          <div class="input-field col s12">
            <%= f.text_field :keyword, value: @keyword, :placeholder => "キーワード検索" %>
            <% f.submit "検索", id: 'search-submit' %>
          </div>
      <div class="area_search">
      <h5>Area</h5>
      </div>
      <div class="block">
      <%= f.check_box :area_name_a, id: :a_processarea, checked: params[:area_name_a] == "1", include_hidden: false %>
      <%= f.label :A_ProcessArea,{class: 'index'} %>
      <%= f.check_box :area_name_b, id: :b_utilityarea, checked: params[:area_name_b] == "1", include_hidden: false %>
      <%= f.label :B_UtilityArea,{class: 'index'} %>
      <%= f.check_box :area_name_c, id: :c_offsite, checked: params[:area_name_c] == "1", include_hidden: false %>
      <%= f.label :C_Offsite,{class: 'index'} %><br>
      <%= f.check_box :area_name_d, id: :all_area, checked: params[:area_name_d] == "1", include_hidden: false %>
      <%= f.label :All_Area,{class: 'index'} %>
      </div>
      <div class="area_search">
      <h5>Section</h5>
      </div>
      <%= f.check_box :section_name_a, id: :civil, checked: params[:section_name_a] == "1" %>
      <%= f.label :Civil,{class: 'indexx'} %>
      <%= f.check_box :section_name_b,  id: :building, checked: params[:section_name_b] == "1" %>
      <%= f.label :Building,{class: 'indexx'} %>
      <%= f.check_box :section_name_c,  id: :mechanical, checked: params[:section_name_c] == "1" %>
      <%= f.label :Mechanical,{class: 'indexx'} %><br>
      <%= f.check_box :section_name_d,  id: :piping, checked: params[:section_name_d] == "1" %>
      <%= f.label :Piping,{class: 'indexx'} %>
      <%= f.check_box :section_name_e,  id: :erectrical, checked: params[:section_name_e] == "1" %>
      <%= f.label :Erectrical,{class: 'indexx'} %>
      <%= f.check_box :section_name_f,  id: :all_section, checked: params[:section_name_f] == "1" %>
      <%= f.label :All_Section,{class: 'indexx'} %>
      </div>
    </div>
  </div>
        
    <% end %>
  </aside>
</div>
