<h4>Archived News</h2>
<p class="listBox_result">
    <span>
        <%= @news.archives.count %>
    </span>
    News is here.
</p>
<article class="col-8 flexbox">
<% @news.each do |news| %>
  <%= link_to news_path(news.id) do %>
  <div class="row" style="margin:0;">
      <div class="col2 s12 m5">
          <!-- card start -->
          <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
              <div class="card-image" style="Width: 150px;">
              <%= image_tag news.image.to_s, height: '150', width: '150' %>
              <span class="card-title"><%= news.title %></span>
          </div>
          <div class="card-content">
          <%= news.created_at.strftime('%Y/%m/%d %H:%M') %>
          <% if current_user.userstyle == 0 %>
          <% end %>
          <div class="fromto">
          <h6>FROM Aエリアpipeline <br>TO Bエリアpipeline</h6>
          </div>
          </div>
          </div>
          <!-- card end -->
      </div>
      </div>
  <% end %>
<% end %>
</article>