<%= form_with model: @news, url: news_path, local: true do |f| %>
    <div class="boxbaseP30 post-articles">
    <div class="size125">
    <img src="<%= @news.image %>" id="news_image",class="img_user", width='150' height='150'>
</div>
<div class="upload m-t1">
画像をアップロードする
<div class="alignCenter m-t-20 m-b-20">
    <%= f.file_field :image,id: "news_file" %>
</div>
<%= f.label :Adress %><br>
<%= f.select :area_id, Area.where(id: News.find(params[:id]).user.user_area_sections.pluck('area_id')).pluck('area_name,id'),{ include_blank: true, selected:  @news.area_id  }, id: "area-select", class: "area-control" %>
<%= f.select :section_id, Section.where(id: News.find(params[:id]).user.user_area_sections.pluck('section_id')).pluck('section_name,id'),{ include_blank: true, selected: @news.section_id }, id: "section-select", class: "section-control" %>
<i class="fa-solid fa-angles-down fa-2xl"></i>
<div class="areas">
<%= f.fields_for :news_area_sections do |news_area_sectionsfields| %>
    <div class="select-scope" data-index: "<%= news_area_sectionsfields.index %>">
        <%= news_area_sectionsfields.select :area_id, [['All Area', 4],['A processarea', 1],['B Utilityarea', 2],['C Offsite', 3]],{ include_blank: true, selected: news_area_sectionsfields.object.area_id }, id: "area-select", class: "area-control" %>
        <%= news_area_sectionsfields.select :section_id, [['All Section',6 ],['Civil', 1],['Building', 2],['Mechanical', 3],['Piping', 4],['Erectrical', 5]],{ include_blank: true, selected: news_area_sectionsfields.object.section_id }, id: "section-select", class: "section-control" %>
    </div>
<% end %>
</div>
<%= f.button type: :button, class:"btn-floating waves-effect waves-light red add-form-btn" do %>
    <i class="material-icons">add</i>
<% end %>

</div>
        <%= f.label :title %><br>
        <%= f.text_field :title, autofocus: true %>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
        <div class="post-article">
            <%= f.submit "POST", class: "waves-effect waves-light btn-large btn-article" %>
        </div>
    </div>
<% end %>