
<h4>Top News</h2>
<p class="listBox_result">
    <span>
        <%= @news.count %>
    </span>
    News is here.
</p>
<div class="row flexbox">
  <article class="col-8 flexbox" style="width:800px;">
  <% @news.each do |news| %>
    <%= link_to news_path(news.id) do %>
    <div class="row" style="margin:0;">
        <div class="col2 s12 m5">
            <!-- card start -->
            <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
                <div class="card-image" style="Width: 150px;">
                <%= image_tag news.image.to_s, height: '150', width: '150' %>
                <span class="card-title"><%= news.title %></span>
            </div>
            <div class="card-content">
            <%= news.created_at.strftime('%Y/%m/%d %H:%M') %>
            <% if current_user.userstyle == 0 %>
            <% end %>
            <div class="fromto">
            <h6>FROM Aエリアpipeline <br>TO Bエリアpipeline</h6>
            </div>
            </div>
            </div>
            <!-- card end -->
        </div>
        </div>
    <% end %>
  <% end %>
  </article>
  <aside class="col-4">
    <%= form_with url: search_path,id: :search_news, method: :get, local: true do |f| %>
        <div class="row">
    <div class="col s12 m4" style="width:100%;width: 410px;height: 100%; height: 320px;">
      <div class="card-panel teal" style="width: 500px;width: 100%;height: 100%;background-color: white!important;border-radius: 8px;margin:0;border: 3px solid #d32f2f;">
      <p class="search-title">絞り込み検索</p>
          <div class="input-field col s12">
            <%= f.text_field :keyword, value: @keyword, :placeholder => "キーワード検索" %>
            <% f.submit "検索", id: 'search-submit' %>
          </div>
      <div class="area_search">
      <h5>Area</h5>
      </div>
      <div class="block">
      <%= f.check_box :area_name, id: :a_processarea, checked: params[:area_name] == "1" %>
      <%= f.label :A_ProcessArea,{class: 'index'} %>
      <%= f.check_box :b_utilityarea, id: :b_utility_area, checked: params[:area_name] == "2" %>
      <%= f.label :B_UtilityArea,{class: 'index'} %>
      <%= f.check_box :a_processarea, id: :c_offsite, checked: params[:area_name] == "3" %>
      <%= f.label :C_Offsite,{class: 'index'} %>
      </div>
      <div class="area_search">
      <h5>Section</h5>
      </div>
      <%= f.check_box :a_processarea, {}, "a_processarea", "unchecked-value" %>
      <%= f.label :Civil,{class: 'indexx'} %>
      <%= f.check_box :a_processarea, {}, "a_processarea", "unchecked-value" %>
      <%= f.label :Building,{class: 'indexx'} %>
      <%= f.check_box :a_processarea, {}, "a_processarea", "unchecked-value" %>
      <%= f.label :Mechanical,{class: 'indexx'} %><br>
      <%= f.check_box :a_processarea, {}, "a_processarea", "unchecked-value" %>
      <%= f.label :Piping,{class: 'indexx'} %>
      <%= f.check_box :a_processarea, {}, "a_processarea", "unchecked-value" %>
      <%= f.label :Erectrical,{class: 'indexx'} %>
      </div>
    </div>
  </div>
        
    <% end %>
  </aside>
</div>
