
<h4>Top News</h2>
<div class="flexbox" style="width:800px;">
<div class="row" style="margin:0;">
    <div class="col2 s12 m5">
      <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
        <div class="card-image">
          <%=image_tag "cat.png", height: '150', width: '150%' %>
          <span class="card-title">GASIN</span>
        </div>
        <div class="card-content">
        2022/10/21 16:55
        <% if current_user.userstyle == 0 %>
        <div class="archive-end">
            <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
        </div>
        <% end %><br>
        FROM Aエリアpipeline <br>TO Bエリアpipeline
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin:0;">
    <div class="col2 s12 m5">
      <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
        <div class="card-image">
          <%=image_tag "cat.png", height: '150', width: '150%' %>
          <span class="card-title">GASIN</span>
        </div>
        <div class="card-content">
        2022/10/21 16:55
        <% if current_user.userstyle == 0 %>
        <div class="archive-end">
            <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
        </div>
        <% end %><br>
        FROM Aエリアpipeline <br>TO Bエリアpipeline
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin:0;">
  <div class="col2 s12 m5">
    <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
      <div class="card-image">
        <%=image_tag "cat.png", height: '150', width: '150%' %>
        <span class="card-title">GASIN</span>
      </div>
      <div class="card-content">
      2022/10/21 16:55
      <% if current_user.userstyle == 0 %>
      <div class="archive-end">
          <i class="fa-solid fa-user-xmark fa-2xl"></i>
      </div>
      <% end %><br>
      FROM Aエリアpipeline <br>TO Bエリアpipeline
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin:0;">
  <div class="col2 s12 m5">
    <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
      <div class="card-image">
        <%=image_tag "cat.png", height: '150', width: '150%' %>
        <span class="card-title">GASIN</span>
      </div>
      <div class="card-content">
      2022/10/21 16:55
      <% if current_user.userstyle == 0 %>
      <div class="archive-end">
          <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
      </div>
      <% end %><br>
      FROM Aエリアpipeline <br>TO Bエリアpipeline
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0;">
  <div class="col2 s12 m5">
    <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
      <div class="card-image">
        <%=image_tag "cat.png", height: '150', width: '150%' %>
        <span class="card-title">GASIN</span>
      </div>
      <div class="card-content">
      2022/10/21 16:55
      <% if current_user.userstyle == 0 %>
      <div class="archive-end">
          <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
      </div>
      <% end %><br>
      FROM Aエリアpipeline <br>TO Bエリアpipeline
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0;">
  <div class="col2 s12 m5">
    <div class="card" style="display:flex;height: 150px;width: 400px; margin:0;">
      <div class="card-image" style="width: 150px;">
        <%=image_tag "cat.png", height: '150px', width: '150px' %>
        <span class="card-title">GASIN</span>
      </div>
      <div class="card-content">
      2022/10/21 16:55
      <% if current_user.userstyle == 0 %>
      <div class="archive-end">
          <i class="fa-solid fa-user-xmark fa-2xl archive-end"></i>
      </div>
      <% end %><br>
      FROM Aエリアpipeline <br>TO Bエリアpipeline
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>


