<%= form_with model: @news, url: news_create_path, local: true do |f| %>
    <div class="boxbaseP30 post-articles">
    <div class="size125">
        <img src="<%= @news.image %>" id="news_image",class="img_user", width='150' height='150'>
    </div>
    <div class="upload m-t1">
    画像をアップロードする
    <div class="alignCenter m-t-20 m-b-20">
        <%= f.file_field :image,id: "news_file" %>
    </div>
    <%= f.label :Adress %><br>
    <%= f.select :area_name, [['A_processarea', 1],['B_Utilityarea', 2],['C_Offsite', 3]],{ include_blank: true, selected: params[:area_name] }, id: "area-select", class: "area-control" %>
    <%= f.select :section_name, [['Civil', 1],['Building', 2],['Mechanical', 3],['Piping', 4],['Erectrical', 5]],{ include_blank: true, selected: params[:section_name] }, id: "section-select", class: "section-control" %>
    <i class="fa-solid fa-angles-right fa-2xl"></i>
    <%= f.select :area_name, [['A_processarea', 1],['B_Utilityarea', 2],['C_Offsite', 3]],{ include_blank: true, selected: params[:area_name] }, id: "area-select", class: "area-control" %>
    <%= f.select :section_name, [['Civil', 1],['Building', 2],['Mechanical', 3],['Piping', 4],['Erectrical', 5]],{ include_blank: true, selected: params[:section_name] }, id: "section-select", class: "section-control" %>
    <a class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>

</div>
        
        <%= f.label :title %>
        <%= f.text_field :title, autofocus: true %>
        <%= f.label :body %><br>
        <%= f.text_area :body %>
        <div class="post-article">
            <%= f.submit "POST", class: "waves-effect waves-light btn-large btn-article" %>
        </div>
    </div>
<% end %>
