<% provide(:title, "ログイン") %>
<%= form_with model: @user,url: session_path(resource_name), local: true do |f| %>
    <div class="loginpanel_wrap back_gray p-t6 p-b6">
        <div class="loginpanel">
            <div class="login_title">
                <h1>ログイン</h1>
            </div>
            <div class="m-b-20"></div>
            <div class="input_head">
                <p><%= f.label :メールアドレス %></p>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "info@minoiro.com" %>
            <div class="input_body">
                <p><%= f.label :パスワード %></p>
            </div>
            <span class="help-block"></span>
                <%= f.password_field :password, autocomplete: "current-password",:placeholder => "Password", id: "passwordForm"%>
                    <i class="fa fa-eye icon_eye js-toggle-password" data-target-element="passwordForm"></i>
                <%= f.submit "ログイン",type: :submit,class:"waves-effect waves-light btn-large login-btn2" %>
        </div>
    </div>
<% end %>
