<% if signed_in? %>
<body>
<%#PC表示%>
    <header class="header pc_hyoji mini">
        <div class="header_inner">
            <div class="header_inner_head flexbox">
                <div id="logo">
                    <%= link_to "JGC News",root_path %>
                </div>
                <ul class="menu gnav flexbox">
                    <li class="menu_item flexbox">
                        <%= link_to "SCHEDULE/EVENT",schedules_path %>
                    </li>
                    
                    <li class="menu_item flexbox">
                        <%= link_to "NEWS", news_index_path %>
                    </li>
                </ul>
                <% if current_user.userstyle == 0 %>
                    <div class="iconbtn" style="margin-right: 16px;">
                    <div class="dropdown-wrapper" style="position:relative;">
                        <!-- Dropdown Trigger -->
                        <a class="dropdown-trigger btn-large makepost" href="#" data-target="dropdown1">MAKE/POST</a>

                        <!-- Dropdown Structure -->
                        <ul id="dropdown1" class="dropdown-content dropdown1">
                            <li>
                            <%= link_to "NEWS", new_news_path %>
                            </li>
                            <li class="divider" tabindex="-1"></li>
                            <li>
                            <%= link_to "SCHEDULE/EVENT",schedules_path %>
                            </li>
                        </ul>
                        </div>
                    </div>
                <% end %>
                <%= link_to(notifications_path) do %>
                <% if unchecked_notifications.any? %>
                    <span class="fa-stack">
                        <i class="far fa-bell fa-lg far-bell" style="font-size: 1.5em;padding-right:10px;"></i>
                        <i class="fas fa-circle n-circle fa-stack-1x fas-circle" style="margin-top: -25px;"></i>
                    </span>
                    <% else %>
                    <i class="far fa-bell fa-lg" style="font-size: 1.5em;"></i>
                    <% end %>
                    <% end %>
                <% if current_user.userstyle == 0 %>
                <%= link_to archives_path do %>
                <i class="fa-solid fa-box-archive fa-2xl"></i>
                <% end %>
                <% end %>
                <%= link_to destroy_user_session_path, class: "logout-icon", method: :delete do %>
                    <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
                <% end %>
                </div>
            </div>
        </div>
    </header>
<% else %>
<%#pc表示%>
<header class="header pc_hyoji mini">
    <div class="header_inner">
        <div class="header_inner_head flexbox">
            <div id="logo">
                <%= link_to "JGC News", root_path, class:"flexbox" %>
            </div>
            <ul class="menu gnav flexbox">
                <li class="menu_item flexbox">
                    <%= link_to "SCHEDULE/EVENT",schedules_path%>
                </li>
                <li class="menu_item flexbox">
                <%= link_to "NEWS", news_index_path %>
                </li>
            </ul>
            <div class="navi auth_buttons flexbox">
                <div class="navi_login">
                    <%= link_to("ログイン", new_session_path(resource_name), class: "waves-effect waves-light btn pchyoji-login") %>
                </div>
            </div>
        </div>
    </div>
</header>    
</body>
<% end %>